*{
    padding: 0%;
    margin: 0%;
}


:root{
    --bg-colour-main-nav :  rgb(33 37 41);
}




/*Handling Device Style*/

@media screen and (max-width:991px) /*tablet device*/ {
    .search-input-box-course{
        display: none !important;

    } 

    .main-section-dashboard-evovadu{
        display: none!important ;
    }

    .main-section-dashboard-evovadu-for-tablet{
        display: flex !important;
        position: absolute !important;
        bottom: 0% !important;
        width: 100vw !important;
        box-sizing: border-box !important;
        z-index: 2;
    }

    .navigator-to-another-section{
            display: flex !important;
            height: 100% !important;
            width: 100% !important;
            background-color: rgb(223, 223, 223) !important;
    }

    .navigation{
        flex-direction: row !important;
        max-height: 70px  !important;
        justify-content: center !important; 
        align-items: center !important;
        flex-wrap: wrap;
    }

    .navigation button{
        text-align: center !important;
        width: 120px;
    }

    .user-profile-image{
        display: block !important;
        max-width: 40px !important;
    }

    .navbar-nav button{
        display: flex !important;
        background-color: rgba(0,0,0,0);
        border: none;
        color: white;
        align-items: center;
    }
}

@media screen and (max-width:639px) /*mobile device*/ {
    .navigation button{
        display: none ;
    }

    .show-all-button{
        display: block !important;
        margin: auto !important;
    
    }

    .navigation{
       background-color: var(--bg-colour-main-nav);
       display: block !important;
       
    }

    .mainLogo-nav-brand{
        font-size: 30px !important;
    }

    .subunit-logo-brand-nav{
        font-size: 10px !important;
    }


}





/*Navbar*/

nav{
    position: fixed;
}

.mainLogo-nav-brand{
    text-decoration: none;
    font-size: 40px;
    color: rgb(204, 133, 0);
}

.subunit-logo-brand-nav{
    color: red;
    font-size: 14px;
    text-align: right;

}

.navbar {
    position: fixed;
    justify-content: center;
    align-items: center;
}



/*dasboard related style*/
.main-section-dashboard-evovadu{
    display: flex;
    flex-direction: row;
    height: 100vh;


}

/* navigator style */

.navigator-to-another-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    background-color: rgb(223, 223, 223);


}

.navigation{
    display: flex;
    flex-direction: column;
    margin-top: auto;


}


.navigation button{
    text-align: left;
    border: none;
    padding: 10px;
    margin: 4px;
    background-color: rgba(0,0,0,0);
    font-weight: 500;
    transition: background-color 0.5s;
}

/* profile image style  */

.user-profile-image{
    border-radius:100%;
    max-width: 30%;
    margin: 5px;

}

.profieRelated{
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
    margin-top: auto;
    justify-content: end;
    align-content: baseline;

}

.profieRelated button{
    border: none;
    padding: 10px;
    margin: 4px;
    background-color: rgba(0,0,0,0);
}



/* not media source - dashboard style  */

.main-section-dashboard-evovadu-for-tablet{
    display: none;
}

.user-profile-image-tablet{
    display: none;
}

.navbar-nav button{
    display: none;

}

.show-all-button{
    display: none;
    background-color: black;
    color: yellow;
    border-radius: 50px;
    border: none;
    color: white;
}

/*HOVERS8*/


.show-all-button:hover {
    background-color: rgb(0, 0, 0) !important;
    z-index: 2;
}



.navigation button:hover{

    background-color: rgb(214, 214, 214);

}   


.show-all-button-navigation{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: last baseline;
}

.mainNavButtonforMobile{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgba(33,37,41,0.8);
    justify-content: center;
    align-items: center;
    margin-bottom: -400px;
    transition: margin-bottom 0.3s ease;
}


.mainNavButtonforMobile button{
    margin: 5px;
    height: 50px;
    width: 160px;
    padding: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(33,37,41,0.3);
}