:root{
    --primary-logo-color :rgb(204, 133, 0);
    --secondary-color:red;
}


*{
    padding: 0%;
    margin: 0%;
}


/*ANIMATIONS*/

@keyframes fadeInBackButton{
    0%{
        background-color: white;
    }
    100%{
        background-color: rgb(226, 226, 226);
    }
}


@media screen and (max-width:1024px){
    .sub-introductory-text{
        color: red;
        width: 100% !important;
        padding: 10px !important;
    }

    .introductory-section-web{
        height: 70vh;
        padding: 30px !important;
        text-align: center !important;
        align-content: center !important;
    }

    .introductory-section-web h1{
        font-size: 1.5em !important; 
        color: var(--primary-logo-color) !important;
        background-color: rgba(0,0,0,0.5) !important;
        padding: 3px;
    }

    .introductory-section-web > p{
        font-size: 4em !important;
        align-content: center;
        text-align: center;
        justify-content: center;
        
    }

    .section-to-discover button img{
        max-width: 160px;
    }

    .mainLogo-nav-brand{
        font-size: 2em !important;
    }

    
    
}

nav{
    width: 100vw;
}

.nav-brand-style-logo{
    display: flex; 
    flex-direction: column; 
    text-align: right;
}

.mainLogo-nav-brand{
    font-size: 4em;
    color: var(--primary-logo-color);
    font-weight: 900;
    margin-bottom: -20px;
    text-align: center; 
    text-decoration: none;
}


.subunit-logo-brand-nav{
    color: red; 
    font-size: 13px; 
    font-weight: 400;
}

.introductory-section-web{
    background-image: url("./res/lappy-pen.jpg");
    padding: 60px;
    background-size: cover;
    width: 100vw;
    box-sizing: border-box;
    word-wrap: break-word;
}

.introductory-section-web h1{
    font-size: 4em;
    color: white;
}

.sub-introductory-text{
    background-color: rgba(0,0,0,0.4);
    width: 40%;
    height: 100%;
    padding: 20px;
    overflow: inherit;
}

.introductory-section-web p{
    color: white;
    font-size: 1em;
}

/*
.introductory-section-web::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.8) 100%);
    box-shadow: 0 0 80px 40px rgba(0,0,0,0.7) inset;
    mix-blend-mode: multiply;
    transition: background 0.5s, box-shadow 0.5s;
}
    */

.sub-introductory-text button{
    font-weight: 600;
    border-radius: none;
}


.defined-topic-section{
    text-align: center;
}

.section-to-discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-to-discover button{
    border: none;
    margin-top: 15px;
    transition: background-color 0.5s;
    margin: 20px;
}

.section-to-discover button:hover {
    background-color: rgb(226, 226, 226);
}

.section-to-discover img{
    max-width: 240px;
    padding: 50px;
}


.reviews-of-users{
    text-align: center;
    padding: 5%;
    background-color: rgba(0,0,0,0.4);
}


.socials-of-evovadu{
    text-align: center;
}
.socials-of-evovadu img{
    max-width: 70px;

}

.socials-of-evovadu button{
    margin-top: 40px;
    border: none;
    padding: 10px;
    transition: background-color 0.5s;
}

.socials-of-evovadu button:hover{
    background-color: rgb(226, 226, 226);

}

footer{
    padding: 30px;
    background-color: rgb(27, 27, 27);
    color: grey;
    width: 100vw;
    box-sizing: border-box;
    border: none;
    bottom: 0%;
}

footer a{
    text-decoration: none;
}